<div class="col-lg-6" style="margin-top: 10px;">
    <div class="custom-media d-flex">
      <div class="img mr-4">
        <img src="assets/images/img_2.jpg" alt="Image" class="img-fluid">
      </div>
      <div class="text">
        <span class="meta"></span>
        <h3 class="mb-4"><a >Name: {{X.name}}</a></h3>
        <h3 class="mb-4"><a >Age:  {{X.age}}</a></h3>
        <h3 class="mb-4"><a >Position:  {{X.position}}</a></h3>
        <h3 class="mb-4"><a >Number:   {{X.nbre}}</a></h3>
       
      </div>
    </div>
  </div>